* {
  font-weight: lighter;
  font-family: sans-serif;
  transform-style: preserve-3d;
  margin: 0px;
  padding: 0px;
  body {
    margin: 0%;
    padding: 0%;
    .leftSideBox {
      position: relative;
      background: #526fe4;
      width: 12%;
      height: 100vh;
      display: inline-block;
    }
    .rightSideBox {
      display: inline-block;
      background-color: #f1f5fa;
      width: 88%;
      height: 100vh;
      position: absolute;
      .backBtn {
        margin: 10px 5px;
        font-weight: normal;
      }
      .rightMain {
        background-color: #fff;
        padding: 0px 10px 10px 10px;
        margin: 10px 20px;
        position: relative;
        .calculatorText {
          padding: 0px 18px;
          font-weight: bold;
          color: #595959;
          .calculatorTitle {
            padding: 30px 0px;
            font-weight: bold;
          }
        }
        .container {
          .leftContainer {
            width: 48%;
            border: 1px solid #eaebed;
            margin: 10px;
            display: inline-block;
            .sliderArea {
              margin: 15px;
              padding: 7px;
              overflow: visible;
              .sliderInput {
                background-color: #f1f5fa;
                border: 1px solid rgb(233, 230, 230);
                position: absolute;
                right: 0;
              }
              .invalidInput {
                color: red;
                text-align: right;
                padding: 2px;
                font-size: 14px;
                margin: 1px 0px;
              }
            }
          }
          .rightContainer, .error {
            position: absolute;
            width: 45%;
            height: 87%;
            display: inline-block;
            border: 1px solid #eaebed;
            margin: 10px;
            padding: 20px;
            .textForGraph {
              font-size: 19px;
              padding: 10px 0px;
              color: grey;
              margin: 0px 12px;
              .spanParaGraph {
                margin: 15px 0px;
                .yearsDisplay {
                  color: black;
                  font-weight: bold;
                }
              }
              .sipAmount {
                color: #2c74b3;
                margin: -20px 0px;
                font-weight: bold;
                padding: 25px 0px;
              }
              .currencyRupeeInPara {
                color: #ff6e31;
                margin-left: 10px;
              }
              .currencyRupeeInPara2 {
                color: #03c988;
                margin-left: 10px;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
}
.error {
 color:red;                
}

svg,
.graphDiv {
  overflow: visible;
  font-size: small;
}

@media  (max-width: 1048px){
  
    .rightContainer{
      display: block;
      width: 80%;
    }
    .rightContainer .paraGraph{
      font-size: small;
    
    }
    .leftContainer .sliderArea .paraGraph{
      font-size: small;
    }
  
    .leftContainer{
      width: 85%;
    }
  
    .rightContainer .textForGraph .sipAmount{
      font-size: larger;
      padding: 20px 5px;
      
    }
  
    .rightSideBox .calculator .rightMain .container .rightContainer .textForGraph .spanParaGraph {
      font-size: small;
      
    }
  }
  @media (max-width: 524px) {
    *{
      margin: 0%;
      padding: 0%;
    }
    .leftSideBox{
      display: none;
    }
  
    .rightSideBox{
      width: 100%;
    }
   
    .rightSideBox .calculator .rightMain .container .rightContainer{
      width: 88%;
    } 
    .rightSideBox .calculator .rightMain .container .leftContainer{
      width: 96%;
    }
    .textForGraph span{
      font-size: 20px;
    }
  }