* {
  font-weight: lighter;
  font-family: sans-serif;
  transform-style: preserve-3d;
  margin: 0px;
  padding: 0px;
}
* body {
  margin: 0%;
  padding: 0%;
}
* body .leftSideBox {
  position: relative;
  background: #526fe4;
  width: 12%;
  height: 100vh;
  display: inline-block;
}
* body .rightSideBox {
  display: inline-block;
  background-color: #f1f5fa;
  width: 88%;
  height: 100vh;
  position: absolute;
}
* body .rightSideBox .backBtn {
  color: #595959;
  margin: 10px 5px 0px 20px;
  padding: 0px 3px 1px 0px;
  font-weight: normal;
  border-radius: 3px;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
}
* body .rightSideBox .backBtn:hover {
  color: #526fe4;
}
* body .rightSideBox .rightMain {
  background-color: #fff;
  padding: 0px 10px 20px 10px;
  margin: 10px 20px;
  position: relative;
  height: 100%;
}
* body .rightSideBox .rightMain .calculatorText {
  padding: 0px 18px;
  font-weight: bold;
  color: #595959;
}
* body .rightSideBox .rightMain .calculatorText .calculatorTitle {
  padding: 30px 0px;
  font-weight: bold;
}
* body .rightSideBox .rightMain .container .leftContainer {
  width: 48%;
  border: 1px solid #eaebed;
  margin: 10px;
  display: inline-block;
}
* body .rightSideBox .rightMain .container .leftContainer .sliderArea {
  margin: 15px;
  padding: 7px;
  overflow: visible;
}
* body .rightSideBox .rightMain .container .leftContainer .sliderArea .sliderInput {
  background-color: #f1f5fa;
  border: 1px solid rgb(233, 230, 230);
  position: absolute;
  right: 0;
}
* body .rightSideBox .rightMain .container .leftContainer .sliderArea .invalidInput {
  color: red;
  text-align: right;
  padding: 2px;
  font-size: 14px;
  margin: 1px 0px;
}
* body .rightSideBox .rightMain .container .rightContainer,
* body .rightSideBox .rightMain .container .error {
  position: absolute;
  width: 45%;
  height: 88%;
  display: inline-block;
  border: 1px solid #eaebed;
  margin: 10px;
  padding: 20px;
}
* body .rightSideBox .rightMain .container .rightContainer .textForGraph,
* body .rightSideBox .rightMain .container .error .textForGraph {
  font-size: 19px;
  padding: 10px 0px;
  color: grey;
  margin: 0px 12px;
}
* body .rightSideBox .rightMain .container .rightContainer .textForGraph .spanParaGraph,
* body .rightSideBox .rightMain .container .error .textForGraph .spanParaGraph {
  margin: 15px 0px;
}
* body .rightSideBox .rightMain .container .rightContainer .textForGraph .spanParaGraph .yearsDisplay,
* body .rightSideBox .rightMain .container .error .textForGraph .spanParaGraph .yearsDisplay {
  color: black;
  font-weight: bold;
}
* body .rightSideBox .rightMain .container .rightContainer .textForGraph .sipAmount,
* body .rightSideBox .rightMain .container .error .textForGraph .sipAmount {
  color: #2c74b3;
  margin: -20px 0px;
  font-weight: bold;
  padding: 25px 0px;
}
* body .rightSideBox .rightMain .container .rightContainer .textForGraph .currencyRupeeInPara,
* body .rightSideBox .rightMain .container .error .textForGraph .currencyRupeeInPara {
  color: #ff6e31;
  margin-left: 10px;
}
* body .rightSideBox .rightMain .container .rightContainer .textForGraph .currencyRupeeInPara2,
* body .rightSideBox .rightMain .container .error .textForGraph .currencyRupeeInPara2 {
  color: #03c988;
  margin-left: 10px;
  font-weight: bold;
}

.error {
  color: red;
}

svg,
.graphDiv {
  overflow: visible;
  font-size: small;
}

@media (max-width: 1000px) {
  #root .rightContainer {
    display: block;
    width: 90%;
  }
  #root .paraGraph {
    font-size: small;
  }
  #root .leftSideBox {
    height: 100cqmax;
  }
  #root .leftContainer {
    width: 95%;
  }
  #root .rightMain {
    height: 100vh;
  }
  #root .paraGraph {
    font-size: 18px;
  }
  .paraGraph {
    font-size: 22px;
  }
  .sipAmount {
    font-size: 22px;
    padding: 20px 5px;
  }
  .textForGraph .spanParaGraph {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  * {
    margin: 0%;
    padding: 0%;
  }
  #root .leftSideBox {
    display: none;
  }
  #root .rightSideBox {
    width: 100%;
  }
  #root .rightContainer {
    width: 89%;
  }
  #root .leftContainer {
    width: 95%;
  }
  #root .textForGraph span {
    font-size: 20px;
  }
}
@media (max-height: 560px) {
  #root .rightSideBox {
    height: 100%;
  }
}/*# sourceMappingURL=main.css.map */